<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Chapter 12 - Assignment 5 - Binary Search Through Recursion/src/IntegerListBTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="IntegerListBTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Chapter 12 - Assignment 5 - Binary Search Through Recursion"/>
</launchConfiguration>
